<!-- Jinja - Extending base.html -->
{% extends "base.html" %}
<!-- Jinja content block  -->
{% block content %}
  <!-- Page content title -->
  <h3 class="center-align">My Recipes</h3>
  <!-- Cancel button -->
  <div class="row">
    <div class="col s12 custom-button-right">
      <!-- Materialize button small and custom styling, link to edit_user.html where session cookie is required -->
      <a href="{{ url_for('profile_edit', account=session["user"]) }}" class="waves-effect waves-light btn-small #fafafa grey lighten-5 black-text button-style-custom">Edit Profile</a>
    </div>
  </div>
  <!-- Profile card section - Materialize card and media wrapper -->
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <!-- Profile wrapper -->
      <div class="row valign-wrapper">
        <!-- Profile Avatar -->
        <div class="col m1 s3 avatar-image-size">
          <img src="{{url_for('static', filename='images/avatars/avatar-placeholder.jpg')}}" alt="" class="circle">
        </div>
        <!-- Profile Social stats -->
        <div class="col m11 s9 custom-card-section">
          <div class="profile-content profile-name col s12 black-text">
            {{ profile.username }}
          </div>
          <div class="social-stats grey-text">
            Recipes <span class="title black-text">87</span>
          </div>
          <div class="social-stats grey-text">
            Followers <span class="title black-text">108</span>
          </div>
          <div class="social-stats grey-text">
            Recipes Liked <span class="title black-text">27</span>
          </div>
          <div class="social-stats grey-text">
            Following <span class="title black-text">39</span>
          </div>
        </div>
        <br><br>
      </div>
      <!-- Profile wrapper -->
      <div class="row valign-wrapper">
        <!-- Profile content -->
        <div class="col m11 s12 custom-card-section">
          <div class="profile-content col s12 black-text">
            {{ profile.bio }}
          </div>
          <div class="profile-link col s12 black-text">
            <a href="#">{{ profile.website }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Jinja content block END -->
{% endblock %}
