<!-- Jinja - Extending base.html -->
{% extends "base.html" %}
<!-- Jinja content block  -->
{% block content %}
  <!-- Page content title -->
  <h3 class="center-align">My Recipes</h3>

  <!-- Edit profile button -->
  <div class="row">
    <div class="col s12 custom-button-right">
      <!-- Materialize button small and custom styling, link to edit_user.html where session cookie is required -->
      <a href="{{ url_for('profile_edit', account=session["user"]) }}" class="waves-effect waves-light btn-small #fafafa grey lighten-5 black-text button-style-custom">Edit Profile</a>
    </div>
  </div>
  
  <!-- Profile section - Materialize card -->
  <section class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <!-- Profile wrapper -->
      <div class="row valign-wrapper">
        <!-- Profile Avatar -->
        <div class="col m1 s2 avatar-image-size">
          <!-- If avatar in profile available -->
          {% if profile.avatar != "" %}
            <!-- show profile image where filename is equal to profile avator image name -->
            <img src="../static/images/avatars/{{ profile.avatar }}" alt="" class="circle">
          {% else %}
            <img src="{{url_for('static', filename='images/avatars/avatar-placeholder.jpg')}}" alt="" class="circle">
          {% endif %}
        </div>
        <!-- Profile Social stats -->
        <div class="col m11 s10 custom-card-section">
          <div class="profile-content profile-name col s12 black-text">
            {{ profile.username }}
          </div>
          <!-- Recipes count -->
          <div class="social-stats grey-text">
            Recipes <span class="title black-text">87</span>
          </div>
          <!-- Followers count -->
          <div class="social-stats grey-text">
            Followers <span class="title black-text">108</span>
          </div>
          <!-- Recipes liked/ or saved -->
          <div class="social-stats grey-text">
            Recipes Liked <span class="title black-text">27</span>
          </div>
          <!-- Profiles following -->
          <div class="social-stats grey-text">
            Following <span class="title black-text">39</span>
          </div>
        </div>
        <br><br>
      </div>
      <!-- Profile wrapper -->
      <div class="row valign-wrapper">
        <!-- Profile content -->
        <div class="col m11 s12 custom-card-section">
          <div class="profile-content col s12 black-text">
            {{ profile.bio }}
          </div>
          <div class="profile-link col s12 black-text">
            <a href="#">{{ profile.website }}</a>
          </div>
        </div>
      </div>
    </div>
  <!-- Profile section END -->
  </section>

  <!-- Add recipe button -->
  <div class="row">
    <div class="col s12 custom-button-right add-recipe-button">
      <!-- Materialize button small and custom styling, link to edit_user.html where session cookie is required -->
      <a href="{{ url_for('recipe_add') }}" class="waves-effect waves-light btn-small #fafafa grey lighten-5 black-text button-style-custom">Add Recipe</a>
    </div>
  </div>

  <!-- Jinja - check if recipes available in profile -->
  {% if profile.recipes|length > 0 %}
    <!-- Recipe catalog section -->
    <section class="row custom-recipe-container">
      {% for recipe in recipes %}
        <!-- Recipe preview card -->
        <div class="col s12 m4">
          <div class="card">
            <!-- Image preview and button to recipe -->
            <div class="card-image-custom">              
              <!-- If recipe image in recipe available -->
              {% if recipe.recipe_image != "" %}
                <!-- Passing "recipe_id" here in href as link or reference -->
                <!-- Note: where recipe_id equals recipe.(dot)_id -->
                <a href="{{ url_for('recipe_view', recipe_id=recipe._id) }}">
                  <!-- show profile image where filename is equal to profile avator image name -->
                  <img src="../static/images/recipes/{{ recipe.recipe_image }}" alt="recipe-image">
                </a>
              {% else %}
                <a href="{{ url_for('recipe_view', recipe_id=recipe._id) }}">
                  <img src="{{url_for('static', filename='images/recipes/recipe-placeholder.jpg')}}" alt="image-placeholder">
                </a>
              {% endif %}
            </div>
            <!-- Title and subtitle -->
            <div class="card-content">
              <p class="card-subtitle">{{ recipe.subtitle }}</p>
              <p class="card-title-custom">{{ recipe.title }}</p>
            </div>
            <!-- Social stats -->
            <div class="card-action">
              <span class="card-stats-time">
                <i class="prefix material-icons tiny">timer</i>
                {{ recipe.cooktime }}
              </span>
              <div class="card-stats-social">
                <a href="#">Comments</a><span class="card-stats">{{ recipe.comments|length }}</span>
                <a href="#">Likes</a><span class="card-stats">{{ recipe.likes|length }}</span>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    <!-- Recipe catalog section END -->
    </section>
  <!-- Jinja - if no recipes available -->
  {% else %}
    <h5>Start sharing your recipes and join the conversation.</h5>
  {% endif %}
<!-- Jinja content block END -->
{% endblock %}
