<!-- Jinja - Extending base.html -->
{% extends "base.html" %}
<!-- Jinja content block  -->
{% block content %}
  <!-- Page title -->
  <h3 class="center-align">Profile Edit</h3>
  <!-- Cancel button -->
  <div class="row">
    <div class="col s12 custom-button-right">
      <!-- Materialize button small and custom styling, link to edit_user.html where session cookie is required -->
      <a href="{{ url_for('my_recipes', account=session["user"]) }}" class="waves-effect waves-light btn-small #fafafa grey lighten-5 black-text button-style-custom">Cancel</a>
    </div>
  </div>
  <!-- Profile avatar section - Materialize card -->
  <div class="card grey lighten-5">
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="{{url_for('static', filename='images/avatars/avatar-placeholder.jpg')}}" alt="" class="circle">
        <span class="title">{{ profile.username }}</span>
        <p>
          <!-- Form with file upload button for avatar update -->
          <form method="POST" action="" enctype="multipart/form-data">
            <p><input type="file" name="file"></p>
          </form>
        </p>
      </li>
    </ul>
  </div>
  <!-- Profile social content - Materialize card -->
  <div class="row card-panel grey lighten-5">
    <!-- Form for profile bio and website, showing current profile values -->
    <form class="col s12" method="POST" action="{{ url_for('profile_edit', account=account) }}">
      <!-- Profile bio -->
      <div class="row">
        <div class="input-field col s12">
          <i class="prefix material-icons">format_align_left</i>
          <!-- Textarea element for more text -->
          <textarea id="bio" name="bio" minlength="5" maxlength="200" class="materialize-textarea validate">
            {{- profile.bio -}}
          </textarea>
          <label for="bio">Bio</label>
        </div>
      </div>
      <!-- Profile public link -->
      <div class="row">
        <div class="input-field col s12">
          <i class="prefix material-icons">public</i>
          <!-- Name attribute 'website' for flask -->
          <input id="website" name="website" type="text" value="{{ profile.website }}" minlength="5" maxlength="50" class="validate">
          <label for="website">Website</label>
        </div>
      </div>
      <!-- Sumbmit button -->
      <div class="row">
        <!-- Using class custom-button-right for additional styling in style.css -->
        <div class="col s12 custom-button-right">
          <!-- Materialize button small -->
          <button type="submit" class="waves-effect waves-light btn-small #9e9e9e grey button-style-custom-2">Save</button>
        </div>
      </div>
    </form>
  </div>
<!-- Jinja injection block END -->
{% endblock %}