<!-- Jinja - extending base.html -->
{% extends "base.html" %}
<!-- Jinja content block  -->
{% block content %}
  <!-- Page content title -->
  <h4 class="center-align">Search here (later)</h4>

  <!-- Recipe title -->
  <h4 class="left-align">{{ recipe.title }}</h4>
  <!-- Recipe subtitle -->
  <h6 class="left-align"><span>Category </span>{{ recipe.subtitle }}</h6>

  <!-- Edit button -->
  <div class="row recipe-edit-button">
    <div class="col s12 custom-button-right">
      <!-- Requires recipe_id value to load prior for url link to work -->
      <!-- Important here is the (dot) in "recipe._id" to pass the id to the next page -->
      <a href="{{ url_for('recipe_edit', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small #fafafa grey lighten-5 black-text button-style-custom">Edit</a>
    </div>
  </div>
  
  <!-- Profile section - Materialize card -->
  <section class="row s12 m8 offset-m2 l6 offset-l3 recipe-profile">
    <div class="card-panel recipe-profile-card">
      <!-- Profile wrapper public -->
      <div class="row valign-wrapper recipe-profile">
        <!-- Profile Avatar -->
        <div class="col m1 s2 avatar-image-size">
          <!-- If avatar image in profile available -->
          {% if profile.avatar != "" %}
            <!-- show profile image where filename is equal to profile avator image name -->
            <img src="../static/images/avatars/{{ profile.avatar }}" alt="" class="circle">
          {% else %}
            <img src="{{url_for('static', filename='images/avatars/avatar-placeholder.jpg')}}" alt="" class="circle">
          {% endif %}
        </div>
        <!-- Profile Social stats -->
        <div class="col m11 s11 custom-card-section">
          <div class="profile-content profile-name col s12 black-text">
            <span>by </span>{{ profile.username }}
          </div>
          <!-- Recipes count -->
          <div class="social-stats grey-text">
            Recipes <span class="title black-text">{{ profile.recipes|length }}</span>
          </div>
          <!-- Followers -->
          <div class="social-stats grey-text">
            Followers <span class="title black-text">{{ profile.followers|length }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Recipe section with flex column order -->
  <section>
    <div class="recipe-flex-container">
      <!-- Large screen - Left -->
      <section class="flex-container-A">

        <!-- Recipe image section -->
        <div class="flex-A masonry-block">
          <!-- Recipe image -->
          <div class="recipe-image-custom">
            <!-- If recipe image in recipe available -->
            {% if recipe.recipe_image != "" %}
              <!-- show profile image where filename is equal to recipe image name in mongodb -->
              <img src="../static/images/recipes/{{ recipe.recipe_image }}" alt="recipe-image">
            {% else %}
              <img src="{{url_for('static', filename='images/recipes/recipe-placeholder.jpg')}}" alt="image-placeholder">
            {% endif %}
          </div>
          <!-- Recipe story -->
          <div class="card-story">
            <p class="recipe-story">
              {{ recipe.recipe_story }}
            </p>
          </div>
        </div>

        <!-- Visitor comments - preview/link -->
        <div class="flex-E">
          <!-- Section header -->
          <span class="section-header">Join the conversation</span>
          <!-- Comments preview card -->
          <div class="card-panel masonry-block">
            <!-- Visitor header -->
            <div class="comments-preview">
              <!-- Visitor avatar -->
              <div class="col avatar-image-size">
                <img src="{{url_for('static', filename='images/avatars/avatar-placeholder.jpg')}}" alt="" class="circle">
              </div>
              <!-- Visitor name -->
              <div class="col custom-card-section">
                <span>John Lemmon</span>
              </div>
            </div>
            <!-- Visitor comment lastest -->
            <div class="row visitor-comment">
              <p>Hellooooo! I tried this recipe and its amazing! Will cook for my whole family tonight.</p>
            </div>
            <!-- Comments link -->
            <div class="row visitor-comment">
              <a href="#">View all comments</a>
            </div>
          </div>
        </div>

      <!-- Large screen - Left END -->
      </section>

      <!-- Large screen - Right -->
      <section class="flex-container-B">
        
        <!-- Recipe instruction section -->
        <div class="flex-D masonry-block">
          <!-- Recipe info card -->
          <div class="card-panel grey lighten-5 recipe-info-card">
            <table>
              <thead>
                <tr>
                    <th>Meal</th>
                    <th>Cuisine</th>
                    <th>Diet</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ recipe.meal }}</td>
                  <td>{{ recipe.cuisine }}</td>
                  <td>{{ recipe.diet }}</td>
                </tr>
              </tbody>
              <thead>
                <tr>
                    <th>Prep Time</th>
                    <th>Cook Time</th>
                    <th>Yield</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ recipe.preptime }}<span> minutes</span></td>
                  <td>{{ recipe.cooktime }}<span> minutes</span></td>
                  <td>{{ recipe.yield }}<span> pers.</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Recipe ingredients card - And shopping link -->
          <div class="card-panel grey lighten-5 recipe-howto-card">
            <!-- Content -->
            <h5>Ingredients</h5>
            <p>
              {{ recipe.ingredients }}
            </p>
            <!-- Materialize button small -->
            <div class="col s12 custom-button-right">
              <button class="waves-effect waves-light btn-small #9e9e9e grey button-style-custom-2">Get Ingredients</button>
            </div>
          </div>
          <!-- Utensils card - And shopping link -->
          <div class="card-panel grey lighten-5 recipe-howto-card">
            <!-- Content -->
            <h5>Utensils</h5>
            <p>
              {{ recipe.utensils }}
            </p>
            <!-- Materialize button small -->
            <div class="col s12 custom-button-right">
              <button class="waves-effect waves-light btn-small #9e9e9e grey button-style-custom-2">Get Utensils</button>
            </div>
          </div>
          <!-- Instructions card -->
          <div class="card-panel grey lighten-5 recipe-howto-card">
            <!-- Content -->
            <h5>Instructions</h5>
            <p>
              {{ recipe.instructions }}
            </p>
          </div>
        </div>

        <!-- Social card -->
        <div class="card-panel grey lighten-5 recipe-howto-card">
          <!-- Content -->
          <!-- Social stats -->
          <div class="card-action">
            <span class="card-share">
              <a href="#">
                <i class="prefix material-icons tiny">share</i>
                Share
              </a>
            </span>
            <div class="card-stats-social recipe-social">
              <a href="#">
                <i class="prefix material-icons tiny">chat_bubble_outline</i>
                Comment
              </a>
              <a href="#">
                <i class="prefix material-icons tiny">favorite_border</i>
                Like
              </a>
            </div>
          </div>
        </div>

        <!-- Recommendation section -->
        <div class="flex-B masonry-block">
          <!-- Section header -->
          <span class="section-header">Find matching drinks</span>
          <!-- Recommendation card 1 - Ingredients -->
          <div class="card horizontal">
            <div class="card-image recipe-imgage-link">
              <img src="{{url_for('static', filename='images/recipes/cala-w6ftFbPCs9I-unsplash.jpg')}}" alt="">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
            </div>
          </div>
          <!-- Recommendation card 2 - Utensils -->
          <div class="card horizontal">
            <div class="card-image recipe-imgage-link">
              <img src="{{url_for('static', filename='images/recipes/cala-w6ftFbPCs9I-unsplash.jpg')}}" alt="">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
            </div>
          </div>
          <!-- Recommendation card 3 - Cooking instructions -->
          <div class="card horizontal">
            <div class="card-image recipe-imgage-link">
              <img src="{{url_for('static', filename='images/recipes/cala-w6ftFbPCs9I-unsplash.jpg')}}" alt="">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Recommendation section -->
        <div class="flex-F masonry-block">
          <!-- Section header -->
          <span class="section-header">Trending</span>
          <!-- Recommendation card 1 -->
          <div class="card horizontal">
            <div class="card-image recipe-imgage-link">
              <img src="{{url_for('static', filename='images/recipes/cala-w6ftFbPCs9I-unsplash.jpg')}}" alt="">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
            </div>
          </div>
          <!-- Recommendation card 2 -->
          <div class="card horizontal">
            <div class="card-image recipe-imgage-link">
              <img src="{{url_for('static', filename='images/recipes/cala-w6ftFbPCs9I-unsplash.jpg')}}" alt="">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
            </div>
          </div>
          <!-- Recommendation card 3 -->
          <div class="card horizontal">
            <div class="card-image recipe-imgage-link">
              <img src="{{url_for('static', filename='images/recipes/cala-w6ftFbPCs9I-unsplash.jpg')}}" alt="">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
            </div>
          </div>
        </div>

      <!-- Large screen - Right END -->
      </section>
    <!-- flex-recipe-container END -->
    </div>
  <!-- Recipe section with flex column order END -->
  </section>
<!-- Jinja content block END -->
{% endblock %}