<!-- Jinja - extending base.html -->
{% extends "base.html" %}
<!-- Jinja - inject content into base.html -->
{% block content %}
  <!-- Page content title -->
  <!-- button -->
  <div class="row">
    <div class="col s12 custom-button-right">
      <!-- Materialize button small, link to edit_user.html where session cookie is required -->
      <a href="{{ url_for('edit_user', user_id=session["user"]) }}" class="waves-effect waves-light btn-small">Edit</a>
    </div>
  </div>
  <!-- Materialize card -->
  <div class="row card-panel grey lighten-5">
    <!-- Using Materialize just for styling without collapsible function -->
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">person</i>
          {{ account.username }}
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">email</i>
          {{ account.email }}
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">lock</i>
          ******
      </li>
    </ul>
  </div>
{% endblock %}
