<!-- Jinja - extending base.html -->
{% extends "base.html" %}
<!-- Jinja content block  -->
{% block content %}
  <!-- Page title -->
  <h3 class="center-align light-grey">Account</h3>

  <!-- Edit button -->
  <div class="row">
    <div class="col s12 custom-button-right">
      <!-- Materialize button small and custom styling, link to edit_user.html where session cookie is required -->
      <a href="{{ url_for('user_edit', user_id=session["user"]) }}" class="waves-effect waves-light btn-small #fafafa grey lighten-5 black-text button-style-custom">Edit</a>
    </div>
  </div>

  <!-- Account overiew - Materialize card -->
  <div class="card grey lighten-5">
    <ul class="collection">
      <li class="collection-item">
        <i class="material-icons account-icon">person</i>
        <span class="title account-title">{{ account.username }}</span>
      </li>
      <li class="collection-item">
        <i class="material-icons account-icon">email</i>
        <span class="title">{{ account.email }}</span>
      </li>
      <li class="collection-item">
        <i class="material-icons account-icon">lock</i>
        <span class="title">*****</span>
      </li>
    </ul>
  </div>
<!-- Jinja content block  END -->
{% endblock %}
